<div class="container">
            
    <div class="reg " >
         <div class="icon"><img src="./../../assets/images/bank-building-online-banking-finance-bank-transactions-bank-service-3d-vector-icon-cartoon-minimal-style_365941-689.webp" alt=""></div> 
       <div> <h1 class="h1 mt-5">My Bank</h1></div>
       <div> <input type="text" placeholder="Username" class="mt-3 " id="uname"> </div>
       <div> <input type="text" placeholder="Account Number" class="mt-3" id="acno"></div>
       <div> <input type="password" placeholder="Password" class="mt-3" id="pswd" ></div>
       <div> <button class="btn btn-primary mt-3" onclick="register()"> Login</button></div>
       <div> <a href="#">forget Password?</a> or <a href="#">Sign up</a></div>
    
</div>
</div>

